{% extends "base.html" %}
{% block content %}
<h2>Sign Up</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.username.label }}<br>
      {{ form.username(class="form-control", placeholder="Username") }}
      {% for error in form.username.errors %}
         <div class="error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.email.label }}<br>
      {{ form.email(class="form-control", placeholder="Email") }}
      {% for error in form.email.errors %}
         <div class="error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.password.label }}<br>
      <div class="password-field">]
          {{ form.password(class="form-control", placeholder="Password", id="signup_password") }}
          <span class="toggle-password" data-target="#signup_password">👁️</span>
      </div>
      {% for error in form.password.errors %}
         <div class="error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.confirm_password.label }}<br>
      <div class="password-field">
          {{ form.confirm_password(class="form-control", placeholder="Confirm Password", id="signup_confirm_password") }}
          <span class="toggle-password" data-target="#signup_confirm_password">👁️</span>
      </div>
      {% for error in form.confirm_password.errors %}
         <div class="error">{{ error }}</div>
      {% endfor %}
    </div>

    <p>{{ form.submit(class="btn") }}</p>
</form>
{% endblock %}
